.Home {
    height: 500px;
}
.Home .containerImage {
   position: relative;
}
.Home .text {
    position: absolute;
    left: 50px;
    font-size:4vw;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    color: black;
}
.Home .textImage {
    top: 40px;
}
.Home .textImage2 {
    top: 100px;
}
.Home .imgHomePage {
    max-width: 100%;
    height: auto;
    opacity: 0.4;
}

.Home-container{
    display: flex;
    flex-direction: row;
    font-family: 'Source Code Pro', monospace;
}
.title{
    text-align: left;
    color: rgb(83, 34, 228);
}
.Home-container summary {
    order:1;
    flex-basis: 40%;
}
.Home-container summary-text{
    text-align: justify;
}
.Home-container skills {
    padding: 10px;
}